/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: white;
  width: 870px;
  padding: 30px;
  margin: 30px auto;
}

header {
  background-color: #562eff;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
/* navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 930px;
}
#logo {
  height: 51px;
  width: 40.4px;
  vertical-align: middle;
}
.logo-text {
  padding-left: 10px;
  font-size: 1.4em;
  color: white;
}
ul,
a {
  color: white;
  list-style: none;
  text-decoration: none;
  display: flex;
}
#profile {
  width: 51px;
  height: 51px;
}
.page-links ul {
  align-items: center;
}
.page-links li {
  padding-left: 40px;
}

/* top players */
.section-title{
    color: #562EFF;
    font-size: 24px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  /* padding-left: 15px; */
  margin-left: 16px;
  font-size: 18px;
}
.top-players h2{
    margin-top: -10px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-top: 30px;
}

/* blog section */
.top-blogs{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.blogs img{
    height: 117px;
    width: 177px;
}
.blogs{
    display: flex;
}
.blogs> span{
 margin-top: -20px;
 margin-left: 20px;
 margin-right: 20px;
}
.blogs>span h3{
    font-size: 20px;
}
.author{
    color: #562EFF;
}
.blogs>span>h5{
    margin-top: -5px;
    font-size: 16px;
    font-weight: 400;
}