/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: white;
  width: 870px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 5px;
}

header {
  background-color: #562eff;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

/* navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 930px;
}
#logo {
  height: 51px;
  width: 40.4px;
  vertical-align: middle;
}
.logo-text {
  padding-left: 10px;
  font-size: 1.4em;
  color: white;
}
ul,
a {
  color: white;
  list-style: none;
  text-decoration: none;
  display: flex;
}
#profile {
  width: 51px;
  height: 51px;
}
.page-links ul {
  align-items: center;
}
.page-links li {
  padding-left: 40px;
}

/* top players */
.section-title {
  color: #562eff;
  font-size: 24px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
}
.top-players h2 {
  margin-top: -10px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-top: 30px;
}

/* blog section */
.top-blogs {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.blogs img {
  height: 117px;
  width: 177px;
}
.blogs {
  display: flex;
}
.blogs > span {
  margin-top: -20px;
  margin-left: 20px;
  margin-right: 20px;
}
.blogs > span h3 {
  font-size: 20px;
  font-weight: 500;
}
.author {
  color: #562eff;
}
.blogs > span > h5 {
  margin-top: -5px;
  font-size: 16px;
  font-weight: 400;
}

/* courses */
.course-section-title {
  text-align: center;
  color: #562eff;
  font-size: 24px;
}
.courses {
  margin-top: -5px;
}
.latest-courses {
  display: flex;
  justify-content: space-around;
}
.course {
  background: linear-gradient(white, #fdf7f7);
  padding: 20px;
  padding-left: 5px;
  border-radius: 10px;
}
.course-image {
  width: 224.38px;
  height: 105.51px;
  margin-bottom: -20px;
}
.course-author {
  color: #ed6b4f;
  font-weight: 400;
  margin-top: -10px;
}
.course h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

/* Ratings */
.fa-solid {
  color: #ffc014;
  height: 12.25px;
  width: 11.75px;
  padding-right: 2px;
}
.empty {
  color: #aeaeae;
}
.ratings {
  display: flex;
  justify-content: space-between;
}
.duration {
  background: #ffe4e8;
  padding: 0 5px;
  border-radius: 25px;
}
.clock {
  height: 20.03px;
  width: 20.03px;
  vertical-align: text-top;
  margin-top: 1px;
}
.hour {
  color: #ff4a60;
}
